# Environment variables — fill in your values
# Copy this file to .env and populate before running the app

WHATSAPP_TOKEN=EAANZCtqpIqKgBRpqSKOOVcNrTzsGAk6o88ZB0nZAKEmZBjVeZAhH79VgMowRuwWDLNC5UZCMtgakT3TGma9iOdEngl0ekEVypyye0LKA4IshFWmTmXGWdrygkNVpubfIZBRvgwVRZChasfxysLUerYoBSa3uqTLqaVzvOgoGjZCIVaSWfTir5N9GEsTtevp4FRuHRQ4ur7OF81ryyzL7nd0auPkx3pzDLSeUeNp9IcuMeOaGmEplVwDYOeDaldhSCavUWrhNep7AUu7f8HrYxcod9
WHATSAPP_PHONE_ID=1249024318297861
VERIFY_TOKEN=my_custom_verify_token
GOOGLE_SHEET_ID=1BA_J_0lwbOjF4Q8twqksUCioVhZKgRrumVRkhykRd5I
GOOGLE_CREDENTIALS_FILE=skilled-flight-469117-p2-19b46c8bf129.json
DASHBOARD_PASSWORD=admin123
GROQ_API_KEY=your_groq_api_key_here
